@font-face {
  font-family: 'Inter';
  src: url('/Inter.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('Inter-Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

img {
  resize: both;
  overflow: hidden;
  max-width: 100%;
}